@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background: url(./img/6074593.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  font-family: "Poppins", serif;
}

.card {
  background-color: #1b1a29;
  width: 320px;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(184, 127, 237, 0.6);
  text-align: center;
  color: #d6caff;
  animation: slideIn 1.2s ease forwards;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #b99aff;
  box-shadow: 0 0 15px #b99aff;
  margin: 0 auto 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.foto:hover {
  transform: scale(1.05);
}

.card h1 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #b99aff;
  text-shadow: 0 0 8px #b99aff;
}

.apresentacao {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #d6caff;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.links a {
  display: block;
  background-color: #3a2e5b;
  color: white;
  text-decoration: none;
  padding: 12px 0;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(184, 127, 237, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.links a:hover {
  background-color: #b99aff;
  color: #1b1a29;
  box-shadow: 0 6px 20px rgba(184, 127, 237, 0.9);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

footer img {
  width: 30px;
  opacity: 0.7;
}

footer h4 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}


@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsividade */
@media (max-width: 450px) {
  main {
    width: 90vw;
    min-height: auto;
    padding: 20px;
  }

  .btn-link {
    max-width: 100%;
  }

  .button {
    font-size: 1.1rem;
  }

  .sobre-mim {
    max-width: 100%;
    font-size: 1rem;
  }
}
